body {
  background: linear-gradient(135deg, #000000 15%, #25362a 80%);
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerdiv{
  background: "#369236";
  padding: 20px;
  border-radius: 30px;
}

.singup-instructions {
  background: linear-gradient(135deg, #00ff88 0%, #43b8a4 100%);
  padding: 50px;
  border-radius: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
}

.step-item {
  background: rgba(255, 255, 255, 0.2); 
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.GoogleButton{
background: rgba(96, 201, 178, 0.2); 
  margin: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center; 
  align-items: center;    
  padding: 20px;
}